.textContentContainer {
	background-color: hsl(210, 46%, 95%);

	padding: 4rem 2rem 0 2rem;
}
.textContentHeading{
	color: hsl(217, 19%, 35%);
	font-size: 1.8rem;
}
.textContentParagraph{
	color: hsl(217, 19%, 35%);
	font-size: 1.5rem;
	padding: 2rem 0;
}
