* {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
}
html,
body,
#root {
	height: 100%;
	width: 100%;
}
html {
	font-size: 62.5%;
}
body {
	background-color: hsl(212, 23%, 69%);
	font-size: 1.6rem;
	font-family: 'Manrope', sans-serif;
}
main {
	height: 100%;
	width: 100%;
}

